.card {
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    /* Combined transition for multiple properties */
}

.card .card-image {
    max-width: 90%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 0.5rem;
}

.card .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
}

.card .card-text {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #f0f0f0;
    /* Change the background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle box shadow */
}