.contact-container {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.line {
    width: 50rem;
    /* Set the width of the line */
    height: 0.1rem;
    /* Set the height or thickness of the line */
    background-color: #333;
    /* Set the color of the line */
    margin: 0 auto;
    /* Center the line horizontally */
    margin-bottom: 1rem;
    /* Add space below the line */
}

.contact-container h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.contact-menu {
    display: flex;
    /* Use flexbox layout */
    flex-direction: column;
    align-items: center;
}

.contact-container p {
    font-size: 1.5rem;
}

.contact-menu>div {
    width: 15rem;
    /* Set a specific width for each div */
    margin: 1rem;
    /* Add spacing between divs */
}

@media (max-width: 600px) {
    .contact-menu>div {
        width: 100%;
        /* Set full width for each div on smaller screens */
        margin-right: 0;
        /* Remove right margin */
        margin-bottom: 1rem;
        /* Add bottom margin to separate divs */
    }
}

.contact-menu h3 {
    margin-bottom: 5px;
    /* Add spacing below headers */
}


.contact-menu a {
    text-decoration: none;
    /* Remove underlines */
    color: gray;
    /* Set link color */
    font-weight: bold;
    /* Make text bold */
}

.contact-menu a:hover {
    text-decoration: underline;
    /* Add underline on hover */
    color: darkgray;
    /* Change color on hover */
}